@import 'variables';

.champions-header {
	width:100%;
	font-size: $large-font-size;
	text-align: center;
}

.champ-header {
	border: 3px solid #58595A;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background: url() center;
	margin: 20px auto;

	.champ-role {
		font-size: 20px;
	}

	h1,
	h2 {
		margin: 5px;
	}

	li {
		list-style: none;
	} //consider leaving this out 

	img {
		margin-left: auto; 
	}
}

.champion-block {
	margin-bottom: 10px;

	.champ {
		span {
			display: block;
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
			overflow: hidden;
		}
		span:hover,
		img:hover {
			cursor: pointer;
		}
	}
}

#abilities {
	border: 1px solid #1d1d1d;

	tr {
		border-top: 1px solid #1d1d1d;
	}
	.ability-text {
		border-left: 1px solid #1d1d1d;
	}

	td {
		padding: 20px;
	}

	.image-text{
		color: yellow;
		font-weight: bold;
		display: block;
		text-align: center;
	}

	.ability-name {
		font-weight: bold;
		color: red;
	}
}

#skin-container {
	.skin-name {
		display: inline-block;
		position: relative;
		width: 100%;
		text-align: center;
		background-color: #58595A;
		border-bottom: none;
	}

	.splash-container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		img {
			width: 100%;
		}
		&:hover{
			.next-container,
			.prev-container {
				display: inline-block;
			}
		}
	}

	.next-container,
	.prev-container {
		position: absolute;
		height: 100%;
		width: 15%;
		display: none;
		background-color: black;
		opacity: .5;
		z-index: 3;
		top: 0;
		&:hover{
			cursor: pointer;
		}
		.prev,
		.next {
			position: absolute;
			width: 100%;
			font-size: 70px;
			top: 50%;
			text-align: center;
			transform: translateY(-50%);
			margin: 0;
		}
	}
	.prev-container {
		left: 0;
	}
	.next-container {
		right: 0;
	}
}