<div ng-show="loaded"> 
	<div class="champ-header">
		<div class="header-title">
			<h1> {{data.name}} </h1>
			<h2> {{data.title}} </h2> 
		</div>

		<ul class="champ-role" >
			<li ng-if="data.tags[0]"> Primary: {{data.tags[0]}} </li>
			<li ng-if="data.tags[1]"> Secondary: {{data.tags[1]}} </li>
		</ul>

		<ul class="champ-stats" >
			<li ng-repeat="(statName, statData) in data.info"> {{ statName }}: {{statData}} </li>
		</ul>

		<img src="http://ddragon.leagueoflegends.com/cdn/{{dragonVer}}/img/champion/{{data.key}}.png"></img>
	</div>

	<div class="topcoat-button-bar" ng-init="currentTab = 'abilities'">
		<div class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button--large" ng-click="currentTab = 'abilities'">Abilities</button>
		</div>
		<div class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button--large" ng-click="switchTo('skins')">Skins</button>
		</div>
	</div>
	<div ng-show="currentTab == 'abilities'">
		<table id="abilities">
			<thead><tr>
				<!-- <th style="width:10%" class="slot">Slot</th>
				<th class="ability" style="text-align: center;">Ability</th> -->
			</tr></thead>
			<tbody>
				<tr class="passive">
					<td><img src="http://ddragon.leagueoflegends.com/cdn/{{dragonVer}}/img/passive/{{data.passive.image.full}}"></img><span class='image-text'>Passive</span></td>
					<td class="ability-text"><span class="ability-name">{{data.passive.name}}</span>
					<div class="description">{{data.passive.description}}</div></td>
				</tr>
				<tr class="ability" ng-repeat="ability in data.spells">
					<td><img src="http://ddragon.leagueoflegends.com/cdn/{{dragonVer}}/img/spell/{{ability.image.full}}"></img><span class='image-text'>{{keys[$index]}}</span></td>
					<td class="ability-text"><span class="ability-name">{{ability.name}}</span>
						<div class="description">{{ability.description}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="skin-container" ng-show="currentTab == 'skins'">
		Skins
		<button class="topcoat-button--large prev">Previous</button>
		<div class="splash-container"><img src="{{skinUrl}}"></img></div>
		<button class="topcoat-button--large next">Next</button>
	</div>
	

</div>