.character-header {
  border: 3px solid #58595A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url() center;
  margin: 20px auto; }
  .character-header .champ-role {
    font-size: 20px; }
  .character-header h1,
  .character-header h2 {
    margin: 5px; }
  .character-header li {
    list-style: none; }
  .character-header img {
    margin-left: auto; }

.champions-header {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem; }

.champions {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.champion-block {
  margin: 10px; }
  .champion-block .champion {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .champion-block .champion:hover {
      cursor: pointer; }
